<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos | FOD</title>
    <link rel="stylesheet" href="\styles\styleheader.css">
    <link rel="stylesheet" href="/styles/contacto.css">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <!-- header -->
    <%- include('partials/header') %>
    <!--fin del header -->


<h1>Contactanos y conocenos</h1>

<section class= "contacto">
    <div class= "divcontact">
        <img src="\img\foto pato.jpg" alt="pato " class= "contact-img">
        <div>
            <h3 class= "h3contact">Patricio Vazquez</h3>
            <h5 class= "h3contact">patovzqz@gmail.com</h5>
            </div>
        <p>El más viejo del grupo, con 37 años, me dedico al diseño 3D, habiendo estudiado la carrera de Director de Cine y TV y experimentado con el diseño industrial, hoy busco la forma de mezclar todos esos conocimientos con el diseño WEB. 
        </p>
    </div>
    <div class= "divcontact">
        <img src="\img\nacho.jpg" alt="pato "class= "contact-img">
        <div>
        <h3 class= "h3contact">Ignacio Tornati</h3>
        <h5 class= "h3contact">nacho.tornati@gmail.com</h5>
        </div>
        <p>Me dicen Nacho! Tengo 20 años y estudio Ingeniería Informática. Cada día me gusta mas programar! Busco adentrarme en el mundo del desarrollo web ya que me parece que tiene muy buena salida laboral! 
        </p>
    </div>
    <div class= "divcontact">
        <img src="\img\alien.jpg" alt="pato "class= "contact-img">
        <div>
            <h3 class= "h3contact">Christian Pacheco</h3>
            <h5 class= "h3contact">Cris.pacheco@gmail.com</h5>
            </div>
        <p class= pcontact>Tengo 32 años, vengo del mundo de la economía y las finanzas, aunque siempre me gusto la programación, tanto back-end como front-end. Ahora Busco juntar estos dos mundos para solucionar varios problemas que detecté al ser un emprendedor y después de trabajar con diferentes empresas.
        </p>
    </div>
</section>
    
       
 


     <!-- footer -->    
     <%- include('partials/footer') %>
     <!-- fin del footer --> 
</body>
<script src="js/detalle.js"></script>
</html>