<!-- footer -->    
<footer class="main-footer">
    <div class= "redes">
        <ul class="redes-ul">
            <li>
            <a href=""class="redes-link"><img src="/img/faceicon.png" alt="facebook"></a>
            </li>
            <li>
            <a href=""class="redes-link"><img src="/img/instaicon.png" alt="instagram"></a>
            </li>
            <li>
            <a href=""class="redes-link"><img src="/img/twittericon.png" alt="twitter"></a>
            </li>
            <li>
            <a href=""class="redes-link"><img src="/img/youtubeicon.png" alt="youtube"></a>
            </li>
        </ul>
        <div class= "botones__footer">
        <a href="/contacto" class="boton-footer">Contactanos y conocenos</a>
        <a href="" class="boton-footer">Terminos y condiciones</a>
        <a href="" class="boton-footer">FAQ</a>
        </div>
    </div>
</footer>
<!-- fin del footer -->  