 <!-- header -->
 <header class="main-header">
    <a href="/" class="pagina__inicio">
        <img src="\img\logoFOD.png" alt="logo" class= "logo">
    </a>      
    <h1 class="lema">Facilitamos el intercambio de arte digital</h1>  

       

    <!--<a href="/products" class= "archivos" id="todosArchivos"><i class='archivos'></i> Todos los archivos</a>-->
    <nav class="main-nav">
        <a href="/products" style="color: yellow; font-weight: bold;" class= "link" ><i class='archivos'></i>ARCHIVOS</a>
        <% if (!email) { %>
            <a href="/users/register" class= "link"><i class='fas fa-plus-circle'></i> CREAR CUENTA</a>
            <a href="/users/login" class= "link"><i class='fas fa-user-circle'></i> INICIAR SESIÓN</a>
        <% } %>
        
        <% if (email) { %>
            <a href="/users/myproducts" style="color: orange; font-weight: bold;" class= "link" ><i class='archivos'></i>MIS ARCHIVOS</a>
            <span href="/users/myproducts" class= "link"> <%= email %> </span>
                <% if (typeof image != 'undefined') { %>
                    <img src="/img/users/<%= image %>" alt="Avatar" class= "avatar_img">
                <% } %>

                <% if (typeof image == 'undefined') { %>
                    <img src="/img/users/alien.jpg" alt="Avatar" class= "avatar_img">
                <% } %>

                <form action="/users/logout" method="POST" id="logout">
                    <button type="submit" class= "link logout_button"><i class="fas fa-sign-out-alt"></i></button> 
                </form>

                
                <a href="/cart"class="link"><i class='fas fa-shopping-cart'></i></a>
                <% if (typeof cartCount != 'undefined') { %>
                    <a href="/cart"class="cartCounter"><span href="/users/myproducts" class= "link"> <%= cartCount %> </span></a>

                <% } %>

        <% } %>
        

    </nav>
</header>
<!--fin del header -->