*{
    font-family: 'Maven Pro', sans-serif;

}


body{ 
    height:100vh; margin:0;
    display:flex; 
    flex-direction:column; 

}

.main-section-register{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.label_decoration{
    color: white;
    align-items: left;    
    padding: 7px;

}
.avatar{
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    width: 88%;
}
.img_field{
    color: white;
}



.register-section{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;

    min-width:60% ;

    border-radius: 10px;
    border: 1px solid black;

    background-color: black;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

}

.register-title{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.register-picture{
    text-align: center;
}

.register-picture img{
    width: 50px;
}
.register-title p{
    padding: 0px;
    text-align: center;
    font-size: 25px;
    color:white;
    margin: 0px;
    margin-bottom: 15px;
}

.input-fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input-decoration{
    height: 37px;
    width: 90%;
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
}

.submit-button{
    margin-top: 15px;
	background-color:yellow;
	border-radius: 10em;
	border: none;
	padding: 20px 40px;
	font-size: 18pt;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	}
    .submit-button:hover {
	background-color:yellow;
	box-shadow: 0px 15px 20px rgba(121, 121, 121, 0.4);
	color:black;
	transform: translateX(-7px);
  }

  .error_messages{
      color: red;
  }

@media (max-width: 500px){
    .register-section{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    
    }

    .register-section h1{
        margin-right: 0px;
    }

    .register-fields{
        width: 100%;
    }

    .error_messages{
        margin-left: 20px;
    }
}